.nav {
  height: 50px;
  padding: 5px;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* height: 100%;
  display: flex;
  justify-content: flex-end; */
}

.navItem {
  float: right;
  /* list-style: none;
  text-align: end;
  height: 100%;
  border: none; */
}

.navButton {
  display: block;
  text-align: center;
  padding: 10px 16px;
  border: none;
  background: none;
  /* color: aliceblue; */
  cursor: pointer;
  /* 
  height: 100%;

  color: aliceblue;
  padding: 5px; */
}

.colorA {
  color: #c48900;
}

.colorB {
  color: white;
}

.navButton:active {
  color: #c48900;
}

.navButton:focus {
  outline: none;
}
